<a href="https://colab.research.google.com/github/infotovikas/Learn-Python/blob/main/beginner/for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**For Loop Examples**

**Example 1: Iterating Over a List**

In [1]:
# For loop to iterate through a list of fruits
fruits = ["apple", "banana", "cherry", "date"]
for fruit in fruits:
    print(f"I love {fruit}!")

I love apple!
I love banana!
I love cherry!
I love date!

**Example 2: Using Range**

In [2]:
# Print numbers from 0 to 9
for i in range(10):
    print(f"Number: {i}")

# Print even numbers between 2 and 20
for i in range(2, 21, 2):
    print(f"Even number: {i}")

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6
Number: 7
Number: 8
Number: 9
Even number: 2
Even number: 4
Even number: 6
Even number: 8
Even number: 10
Even number: 12
Even number: 14
Even number: 16
Even number: 18
Even number: 20

**Example 3: Nested For Loops**

In [3]:
# Print a multiplication table
for i in range(1, 6):  # Outer loop for rows
    for j in range(1, 6):  # Inner loop for columns
        print(f"{i * j:2}", end=" ")  # Print product with formatting
    print()  # Newline after each row

 1  2  3  4  5
 2  4  6  8 10
 3  6  9 12 15
 4  8 12 16 20
 5 10 15 20 25

**Example 4: Iterating Over a Dictionary**

In [4]:
# Iterating over key-value pairs in a dictionary
student_scores = {"Alice": 85, "Bob": 90, "Charlie": 78}

for student, score in student_scores.items():
    print(f"{student} scored {score} points.")

Alice scored 85 points.
Bob scored 90 points.
Charlie scored 78 points.

**Example 5: Using Break and Continue**

In [5]:
# Example with break
for i in range(10):
    if i == 5:
        print("Breaking at", i)
        break
    print(i)

# Example with continue
for i in range(10):
    if i % 2 == 0:
        continue
    print(f"Odd number: {i}")

0
1
2
3
4
Breaking at 5
Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

**For Loop with Else**

In [6]:
# For loop with an else block
for i in range(5):
    print(i)
else:
    print("Loop completed without a break!")

0
1
2
3
4
Loop completed without a break!