<a href="https://colab.research.google.com/github/infotovikas/Learn-Python/blob/main/beginner/Functions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. User-Defined Function**

**Example 1: Simple Function with No Arguments**

In [1]:
# Define a function to greet the user
def greet():
    print("Hello, welcome to Python!")

In [2]:
# Call the function
greet()

Hello, welcome to Python!

**Example 2: Function with Arguments**

In [3]:
# Define a function to greet the user with their name
def greet(name):
    print(f"Hello, {name}! Welcome to Python.")

In [4]:
# Call the function with an argument
greet("Alice")
greet("Bob")

Hello, Alice! Welcome to Python.
Hello, Bob! Welcome to Python.

**Example 3: Function with Return Value**

In [5]:
# Define a function to add two numbers and return the result
def add(a, b):
    return a + b

In [6]:
# Call the function and store the result
result = add(5, 3)
print(f"The sum is: {result}")

The sum is: 8

**Example 4: Function with Default Argument**

In [11]:
# Define a function with a default argument
def greet(name="Guest"):
    print(f"Hello, {name}! Welcome to Python.")

In [13]:
# Call the function with and without an argument
greet("Alice")
greet()  # Using the default argument

Hello, Alice! Welcome to Python.
Hello, Guest! Welcome to Python.

**Example 5: Function with Multiple Return Values**

In [10]:
# Define a function that returns multiple values
def arithmetic_operations(a, b):
    return a + b, a - b, a * b, a / b

In [14]:
# Call the function and unpack the returned values
sum_result, diff_result, prod_result, div_result = arithmetic_operations(10, 2)

print(f"Sum: {sum_result}, Difference: {diff_result}, Product: {prod_result}, Division: {div_result}")

Sum: 12, Difference: 8, Product: 20, Division: 5.0

**2. Built-in Functions in Python**

In [15]:
#Example 1: print()
# Print function to display text
print("Hello, Python!")

Hello, Python!

In [16]:
#Example 2: len()
# Use len() to get the length of a string
name = "Alice"
length = len(name)
print(f"The length of the name '{name}' is {length}.")

The length of the name 'Alice' is 5.

In [17]:
#Example 3: type()
# Use type() to check the data type of a variable
age = 25
print(f"The data type of 'age' is: {type(age)}")
name = "Alice"
print(f"The data type of 'name' is: {type(name)}")

The data type of 'age' is: <class 'int'>
The data type of 'name' is: <class 'str'>

In [18]:
#Example 4: max() and min()
# Use max() and min() to find the maximum and minimum from a list
numbers = [10, 5, 20, 3, 15]
print(f"The maximum number is: {max(numbers)}")
print(f"The minimum number is: {min(numbers)}")

The maximum number is: 20
The minimum number is: 3

In [19]:
#Example 5: sum()
# Use sum() to get the sum of a list
numbers = [10, 5, 20, 3, 15]
total = sum(numbers)
print(f"The sum of the numbers is: {total}")

The sum of the numbers is: 53

In [20]:
#Example 6: sorted()
# Use sorted() to sort a list in ascending order
numbers = [10, 5, 20, 3, 15]
sorted_numbers = sorted(numbers)
print(f"Sorted numbers: {sorted_numbers}")

Sorted numbers: [3, 5, 10, 15, 20]

In [21]:
#Example 7: input()
# Use input() to get input from the user
name = input("Enter your name: ")
print(f"Hello, {name}!")

Enter your name: Vikas
Hello, Vikas!

In [22]:
#Example 8: abs()
# Use abs() to get the absolute value of a number
number = -10
absolute_value = abs(number)
print(f"The absolute value of {number} is {absolute_value}.")

The absolute value of -10 is 10.

In [23]:

#Example 9: round()
# Use round() to round a number to a specified number of decimal places
pi = 3.14159
rounded_pi = round(pi, 2)
print(f"Rounded value of pi to 2 decimal places: {rounded_pi}")

Rounded value of pi to 2 decimal places: 3.14

**3. Lambda Functions (Anonymous Functions)**

In [24]:
#Example 1: Simple Lambda Function
# A simple lambda function to add two numbers
add = lambda x, y: x + y
result = add(5, 3)
print(f"The sum is: {result}")

The sum is: 8

In [25]:
#Example 2: Using Lambda with map()
# Use lambda with map() to square each number in a list
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(f"Squared numbers: {squared_numbers}")

Squared numbers: [1, 4, 9, 16, 25]

**4. Function with Variable Number of Arguments**

In [26]:
#Example 1: Using *args for Variable Arguments
# Function that takes a variable number of arguments
def add_numbers(*args):
    return sum(args)

In [27]:
# Call the function with different numbers of arguments
print(f"Sum of 1, 2, 3 is: {add_numbers(1, 2, 3)}")
print(f"Sum of 4, 5, 6, 7 is: {add_numbers(4, 5, 6, 7)}")

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

In [28]:

#Example 2: Using **kwargs for Variable Keyword Arguments
# Function that takes a variable number of keyword arguments
def print_student_scores(**kwargs):
    for student, score in kwargs.items():
        print(f"{student} scored {score} points.")

In [29]:
# Call the function with keyword arguments
print_student_scores(Alice=85, Bob=90, Charlie=78)

Alice scored 85 points.
Bob scored 90 points.
Charlie scored 78 points.