In [ ]:
# Integer variable
age = 25
print("Integer Variable:")
print("Value:", age)
print("Type:", type(age))
print()

Integer Variable:
Value: 25
Type: <class 'int'>

In [ ]:
# Float variable
height = 5.9
print("Float Variable:")
print("Value:", height)
print("Type:", type(height))
print()

In [ ]:
# String variable
name = "Vikas Singh"
print("String Variable:")
print("Value:", name)
print("Type:", type(name))
print()

In [ ]:
# Boolean variable
is_active = True
print("Boolean Variable:")
print("Value:", is_active)
print("Type:", type(is_active))
print()

In [ ]:
# Complex number variable
complex_num = 2 + 3j
print("Complex Number Variable:")
print("Value:", complex_num)
print("Type:", type(complex_num))
print()

In [ ]:
# List variable
fruits = ["apple", "banana", "cherry"]
print("List Variable:")
print("Value:", fruits)
print("Type:", type(fruits))
print()

In [ ]:

# Tuple variable
coordinates = (10, 20)
print("Tuple Variable:")
print("Value:", coordinates)
print("Type:", type(coordinates))
print()

In [ ]:
# Set variable
unique_numbers = {1, 2, 3, 4, 5}
print("Set Variable:")
print("Value:", unique_numbers)
print("Type:", type(unique_numbers))
print()

In [ ]:
# Dictionary variable
person = {"name": "Vikas", "age": 25, "city": "Azamgarh"}
print("Dictionary Variable:")
print("Value:", person)
print("Type:", type(person))
print()