<a href="https://colab.research.google.com/github/infotovikas/Learn-Python/blob/main/beginner/TypesOfVariable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Integer variable
age = 25
print("Integer Variable:")
print("Value:", age)
print("Type:", type(age))

Integer Variable:
Value: 25
Type: <class 'int'>

In [3]:
# Float variable
height = 5.9
print("Float Variable:")
print("Value:", height)
print("Type:", type(height))

Float Variable:
Value: 5.9
Type: <class 'float'>

In [5]:
# String variable
name = "Vikas Singh"
print("String Variable:")
print("Value:", name)
print("Type:", type(name))

String Variable:
Value: Vikas Singh
Type: <class 'str'>

In [6]:
# Boolean variable
is_active = True
print("Boolean Variable:")
print("Value:", is_active)
print("Type:", type(is_active))

Boolean Variable:
Value: True
Type: <class 'bool'>

In [7]:
# Complex number variable
complex_num = 2 + 3j
print("Complex Number Variable:")
print("Value:", complex_num)
print("Type:", type(complex_num))

Complex Number Variable:
Value: (2+3j)
Type: <class 'complex'>

In [8]:
# List variable
fruits = ["apple", "banana", "cherry"]
print("List Variable:")
print("Value:", fruits)
print("Type:", type(fruits))

List Variable:
Value: ['apple', 'banana', 'cherry']
Type: <class 'list'>

In [9]:

# Tuple variable
coordinates = (10, 20)
print("Tuple Variable:")
print("Value:", coordinates)
print("Type:", type(coordinates))

Tuple Variable:
Value: (10, 20)
Type: <class 'tuple'>

In [10]:
# Set variable
unique_numbers = {1, 2, 3, 4, 5}
print("Set Variable:")
print("Value:", unique_numbers)
print("Type:", type(unique_numbers))

Set Variable:
Value: {1, 2, 3, 4, 5}
Type: <class 'set'>

In [11]:
# Dictionary variable
person = {"name": "Vikas", "age": 25, "city": "Azamgarh"}
print("Dictionary Variable:")
print("Value:", person)
print("Type:", type(person))

Dictionary Variable:
Value: {'name': 'Vikas', 'age': 25, 'city': 'Azamgarh'}
Type: <class 'dict'>