<a href="https://colab.research.google.com/github/infotovikas/Learn-Python/blob/main/beginner/Working_with_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Arithmetic Operators**

In [1]:
# Arithmetic Operators
a = 10
b = 3

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)
print("Floor Division:", a // b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Modulus: 1
Exponentiation: 1000
Floor Division: 3

**2. Comparison Operators**

In [2]:
# Comparison Operators
x = 15
y = 10

print("x > y:", x > y)
print("x < y:", x < y)
print("x == y:", x == y)
print("x != y:", x != y)
print("x >= y:", x >= y)
print("x <= y:", x <= y)

x > y: True
x < y: False
x == y: False
x != y: True
x >= y: True
x <= y: False

**3. Logical Operators**

In [3]:
# Logical Operators
a = True
b = False

print("a and b:", a and b)  # Logical AND
print("a or b:", a or b)    # Logical OR
print("not a:", not a)      # Logical NOT

a and b: False
a or b: True
not a: False

**4. Bitwise Operators**

In [4]:
# Bitwise Operators
a = 5  # Binary: 0101
b = 3  # Binary: 0011

print("Bitwise AND (a & b):", a & b)  # 0101 & 0011 = 0001
print("Bitwise OR (a | b):", a | b)   # 0101 | 0011 = 0111
print("Bitwise XOR (a ^ b):", a ^ b)  # 0101 ^ 0011 = 0110
print("Bitwise NOT (~a):", ~a)        # NOT 0101 = -0110
print("Left Shift (a << 1):", a << 1) # 0101 << 1 = 1010
print("Right Shift (a >> 1):", a >> 1) # 0101 >> 1 = 0010

Bitwise AND (a & b): 1
Bitwise OR (a | b): 7
Bitwise XOR (a ^ b): 6
Bitwise NOT (~a): -6
Left Shift (a << 1): 10
Right Shift (a >> 1): 2

**5. Assignment Operators**

In [5]:
# Assignment Operators
x = 10
print("Initial value:", x)

x += 5  # Add and assign
print("After x += 5:", x)

x -= 3  # Subtract and assign
print("After x -= 3:", x)

x *= 2  # Multiply and assign
print("After x *= 2:", x)

x /= 4  # Divide and assign
print("After x /= 4:", x)

x %= 3  # Modulus and assign
print("After x %= 3:", x)

Initial value: 10
After x += 5: 15
After x -= 3: 12
After x *= 2: 24
After x /= 4: 6.0
After x %= 3: 0.0

**6. Membership Operators**

In [7]:
# Membership Operators
my_list = [1, 2, 3, 4, 5]

print("Is 3 in the list?", 7 in my_list)
print("Is 10 not in the list?", 10 not in my_list)

Is 3 in the list? False
Is 10 not in the list? True

**7. Identity Operators**

In [8]:
# Identity Operators
a = 10
b = 10
c = [1, 2, 3]
d = [1, 2, 3]

print("a is b:", a is b)       # True, same object
print("c is d:", c is d)       # False, different objects
print("c is not d:", c is not d) # True, different objects

a is b: True
c is d: False
c is not d: True

**8. Ternary Operator (Conditional Expression)**

In [9]:
# Ternary Operator
a = 20
b = 15

max_value = a if a > b else b
print("The greater value is:", max_value)

The greater value is: 20

**9. Chained Comparison Operators**

In [10]:
# Chained Comparison
x = 10

print("5 < x < 15:", 5 < x < 15)  # True
print("5 < x > 15:", 5 < x > 15)  # False

5 < x < 15: True
5 < x > 15: False

**10. Operator Precedence Example**

In [11]:
# Operator Precedence
result = 10 + 5 * 2 - 3 ** 2 / 2
print("Result of the expression:", result)

Result of the expression: 15.5