<a href="https://colab.research.google.com/github/infotovikas/Learn-Python/blob/main/beginner/Working_with_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Assigning and Printing Variables**

In [2]:
# Assigning values to variables
name = "Vikas Singh"
age = 30
height = 5.9

# Printing variables
print("Name:", name)
print("Age:", age)
print("Height:", height)

Name: Vikas Singh
Age: 30
Height: 5.9

**2. Multiple Assignments**

In [3]:
# Assigning multiple variables in one line
x, y, z = 10, 20, 30

# Printing the values
print("x:", x)
print("y:", y)
print("z:", z)

x: 10
y: 20
z: 30

**3. Reassigning Variables**

In [4]:
# Assigning an initial value
language = "Python"

# Reassigning the variable
language = "JavaScript"

print("Current Language:", language)

Current Language: JavaScript

**4. Variable Types**

In [5]:
# Integer
count = 100
print("Count:", count, "Type:", type(count))

# Float
price = 19.99
print("Price:", price, "Type:", type(price))

# String
city = "Azamgarh"
print("City:", city, "Type:", type(city))

# Boolean
is_available = True
print("Is Available:", is_available, "Type:", type(is_available))

Count: 100 Type: <class 'int'>
Price: 19.99 Type: <class 'float'>
City: Azamgarh Type: <class 'str'>
Is Available: True Type: <class 'bool'>

**5. Using type() and id()**

In [6]:
# Define a variable
number = 42

# Get the type and memory address of the variable
print("Value:", number)
print("Type:", type(number))
print("Memory Address (ID):", id(number))

Value: 42
Type: <class 'int'>
Memory Address (ID): 10752168

**6. Variables with Arithmetic Operations**

In [7]:
# Assign values to variables
a = 15
b = 5

# Perform arithmetic operations
sum_result = a + b
difference = a - b
product = a * b
quotient = a / b

# Print results
print("Sum:", sum_result)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 20
Difference: 10
Product: 75
Quotient: 3.0

**7. Swapping Variables**

In [8]:
# Assign initial values
a = 10
b = 20

print("Before Swapping:")
print("a:", a, "b:", b)

# Swap variables
a, b = b, a

print("After Swapping:")
print("a:", a, "b:", b)

Before Swapping:
a: 10 b: 20
After Swapping:
a: 20 b: 10

**8. Global and Local Variables**

In [9]:
# Global variable
global_var = "Global Variable"

def test_variables():
    # Local variable
    local_var = "Local Variable"
    print("Inside Function:")
    print("Global Variable:", global_var)
    print("Local Variable:", local_var)

test_variables()

print("\nOutside Function:")
print("Global Variable:", global_var)
# The next line would raise an error if uncommented because local_var is not accessible here
# print("Local Variable:", local_var)

Inside Function:
Global Variable: Global Variable
Local Variable: Local Variable

Outside Function:
Global Variable: Global Variable

**9. Constants (Using Naming Conventions)**

In [10]:
# Constants are typically written in uppercase
PI = 3.14159
EARTH_GRAVITY = 9.8

# Printing constant values
print("Value of PI:", PI)
print("Earth Gravity:", EARTH_GRAVITY)

Value of PI: 3.14159
Earth Gravity: 9.8

**10. Dynamic Typing in Python**

In [11]:
# Assign an integer to a variable
var = 10
print("Initial Value:", var, "Type:", type(var))

# Reassign a string to the same variable
var = "Python is fun!"
print("Reassigned Value:", var, "Type:", type(var))

Initial Value: 10 Type: <class 'int'>
Reassigned Value: Python is fun! Type: <class 'str'>

**Example: Using sqrt and round**

**Notes:**
1. math.sqrt(): Calculates the square root of a number. You must import the math module to use it.
2. round(): Rounds a number to the specified number of decimal places (default is 0 if not specified).

In [12]:
import math

# Example of sqrt (square root)
number = 16
square_root = math.sqrt(number)
print(f"The square root of {number} is {square_root}")

# Example of round
decimal_number = 12.34567
rounded_number = round(decimal_number, 2)  # Round to 2 decimal places
print(f"The number {decimal_number} rounded to 2 decimal places is {rounded_number}")

The square root of 16 is 4.0
The number 12.34567 rounded to 2 decimal places is 12.35